<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>autologin</display-name>
  <filter>
      <filter-name>filter</filter-name>
      <filter-class>com.filter.loginfilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>filter</filter-name>
      <url-pattern>/login.jsp</url-pattern>
  </filter-mapping>
  
  
  <servlet>
      <servlet-name>ww</servlet-name>
      <servlet-class>com.loginservlet.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ww</servlet-name>
      <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>